@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1280px) {
    .container {
        width: 1200px;
    }
}

.lightBg {
    /* background: linear-gradient(
        180deg,
        #f9f4fe 0%,
        rgba(217, 217, 217, 0) 100%
    ); */
    background-image: url("../public/images/bannerBG.png");
    background-repeat: no-repeat;
    background-size: cover;
}
